{% extends "front/base.html.twig" %}

{% block main %}

	<div class="container d-flex mt-mb-0 ms-me-auto">
		<div class="offers">
            <div class="offer1">
            
            
             </div>
        </div>
	</div>

{% endblock %}
